{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/about_img.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Acerca de mí</h1>
            <span class="subheading">Esto es lo que hago.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soy Sergioluis Mendiola, Ingeniero Mecánico y desarrollador web!</p>
        <p>Trabajé desde 2013 hasta 2021 en la posicion de Ingeniero Proyectista, en proyectos relacionados con HVAC, y a partir del año 2022 empecé a trabajar como guía turístico de astronomía y a aprender programación.</p>
        <p>Herramientas de programación conocidas hasta la fecha: Python, HTML, CSS, Bootstrap, Flask, Jinja, PosgreSQL.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}